<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://mecolas.github.io/normalize.css/">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css/">
</head>
<body>
    <!-- <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cnd.bootcss.com/juery/3.2.1/jquery.js"></script>
    <script src="https://cnd.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    <div id="app">
        <p>Hello world! This is an HTML5 Boilerplate.</p>
        <p>[[ message ]]</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            message: 'Hello Vue!'
        }
    })
    </script>
</body>
</html>